
  .place__image {
    margin: 0;
    padding: 0;
    max-width: 480px;
    height: auto;
    grid-area: place-image;
  }
  
  @media screen and (max-width: 1140px) {
    .place__image {
      width: 42.96875vw;
    }
  }
  
  @media screen and (max-width: 984px) {
    .place__image {
      width: 44.2708333vw;
    }
  }
  
  @media screen and (max-width: 568px) {
    .place__image {
      width: 100vw;
      margin-bottom: 32px;
      object-fit: cover;
    }
  }