.place__website {
    grid-area: place-web;
    position: relative;
}

@media screen and (max-width: 1140px) {
 .place__website {
            grid-area: place-web;
            position: relative;
        }
  
  }
  
  @media screen and (max-width: 984px) {
    .place__website {
        grid-area: place-web;
        position: relative;
        max-width:352px;
   
    }
  }

@media screen and (max-width: 568px) {
    .place__website {
        width: 100%;
    }
}